/**/

body{
  background-color: dimgray;
}

.container{
  width: 95%;
  background-color: whitesmoke;
  border-radius: 5px 5px 5px 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.rind{
  margin-top: 5px;
  margin-bottom: 10px;
}

.rscan{
  margin-top: 10px;
  margin-bottom: 10px;
}

.pdesc{
  font-size: 18px;
  text-align: justify;
}

.imgProd{
  width: 98%;
}