/**/

body{
  background-color: dimgray;
}

.container{
  width: 95%;
  height: 350px;
  background-color: whitesmoke;
  border-radius: 5px 5px 5px 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 20px;
  position: absolute;
top: 0; bottom: 0;
left: 0; right: 0;
margin: auto;
}

@font-face{
  font-family: "zebrra";
  src: url("../fonts/ZEBRRA__.ttf") format("truetype");
}

h1{
  font-family: zebrra;
}

.rind{
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.rscan{
  margin-top: 10px;
  margin-bottom: 10px;
}

.pdesc{
  font-size: 18px;
  text-align: justify;
  font-family: verdana;
}

ul>li{
  font-size: 16px;
  text-align: justify;
  font-family: verdana;
}

.imgProd{
  width: 98%;
  border-radius: 5px 5px 5px 5px;
}

#imgindex{
  width: 95%;
  margin-top: 20px;
  margin-bottom: 20px;
}